@import 'config';

body {
    margin:0;
    padding:0;
    // 상단 여백이 자꾸 생겼다 사라졌다 한다. 뭐지
    // position: relative;
    // top: -16px;
}

@mixin aligned-box {
    display: grid;
    place-items: center;
}

@mixin default-a($color:black) {
    text-decoration: none;
    color: $color;
}

@mixin default-font ($fontSize:18px, $fontWeight:400, $color:white) {
    font-size: $fontSize;
    font-weight: $fontWeight;
    color:$color;
}

@mixin default-button ($colorFrom, $colorTo, $width:100px, $height:36px) {
    width: $width;
    height: $height;
    border-radius: 50px;
    background: linear-gradient(-45deg,$colorFrom,$colorTo);
    border: 0px;
}

@mixin set-default-postion($top:0){
    // top:0을 initial로 지정해주지 않으면 애니메이션이 먹지 않는다.
    position:relative;
    top: $top;
}

@mixin hover-transition-time ($time:0.15s){
    transition: all $time;
}


@mixin hover-transition-attributes($position:40px, $spread:50px,$opacity:.5, $top:-10px){
    box-shadow: 0 $position $spread rgba(50,50,93,$opacity);
    top: $top;
}

$screen-width: 100%;
@function columns($size: 1, $columns: 12) {
    @return $screen-width * ($size / $columns);
}


nav {
    height: $navHeight;
    width: $navWidth;
    background-color: #292c44;
    display: flex;
    position: fixed;
    z-index: 9999;
}

.container {
    width: $containerFirstWidth;
    // background-color: darkorchid;
    margin: 0 auto;
    padding: 0px 15px;
    
    .navHeader {
        height: 100%;
        display: flex;
        justify-content: space-between;
        
        .navBrandHeader {
            display: flex;
            align-items: center;

            a {
                text-decoration: none;
                color: $titleColor;
                display: flex;
                justify-content: center;
    
                .navLogo {
                    height: $logoHeight;
                    width: $logoWidth;
                    margin-right: 25px;
                }
                .navTitle {
                    border-left: 2px solid;
                    padding-left: 21.5px;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 30px;
                    display: flex;
                    align-items: center;
                }
            }
            

        }
        

        .navButtons {
            margin-right: -15px;
            
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                display:flex;
                justify-content: space-around;
                height: $navHeight;
                
                a {
                    @include default-a();
                    @include default-font();
                
                    li{
                        @include aligned-box(); 
                        height: $navHeight;
                        line-height: 30px;
                        padding: 0 15px;

                    }

                    &:hover {
                        background-color: #212338;
                    }
                }

                .signUpButton {
                    @include aligned-box();
                    padding: 0 15px;

                    button {
                        @include default-button(#fdc830,#f37335);
                        @include default-font(15px, 500);
                        
                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
                
            }
        }
    }
}


main {
    .pageTemplate {
        height: $pageTemplateHeight;
        background:linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(https://nomad-coders-assets.s3.ap-northeast-2.amazonaws.com/static/img/bgs/homeBG.jpg);
        background-size: 100%;
        
        /*
        원래 여기에 margin-top:$navHeight 넣어줘야되는데
        지금은 nav가 postion fixed라서 겹쳐지므로 따로 안넣어줬다.
        (javascript로 구현할때는 div끼리 block이라 안겹치기 때문에 겹치게 하려고 일부러 margin:-60px준듯.)
        */

        .pageTitle {
            padding: 170px 30px 0px 30px;
            width: 100%;
            height: 530px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .header {
                @include default-font(3rem);
            }
            button {
                @include set-default-postion();

                @include default-button(#8e2de2,#4a00e0,290px,61px);
                @include default-font();
                @include hover-transition-time(0.2s);

                &:hover {
                    @include hover-transition-attributes(0,0,0.5,-3px);
                    cursor: pointer;
                }
            }
        }

        .customWave{
            // 배경 물결무늬로 잘라야하는데 어떻게하는지 모르겠어서 fail..
        }
    }
    
    .container {

        display: flex;
        flex-direction: column;
        align-items: center;

        .smallHeader {
            @include default-font(2.5rem,400,#333);
        }

        .courses {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
            grid-auto-rows: 300px;
            column-gap: 25px;
            row-gap: 45px;
            padding-bottom: 100px;

            .courseBox {
                

                a {
                    height:100%;
                    width:100%;
                    @include aligned-box();
                    @include default-a();

                    .courseImg {
                        @include set-default-postion();
                        height: 200px;
                        width: 100%;
                        background-image: url(https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://www.filepicker.io/api/file/NFHaypnlSmqPDTvaKuo2);
                        //마찬가지로 background-size도 cover가 아닌 100%로 초기화해주어야 애니메이션이 먹는다.
                        background-size: 100%;
                        background-position: center center;
                        border-radius: 20px;
                        box-shadow: 0 15px 35px rgba(50,50,93,.1), 0 5px 15px rgba(0,0,0,.07);
                        @include hover-transition-time();
                    }
    
                    .courseDesc {
                        @include set-default-postion(-50px);
                        height: 150px;
                        width: 90%;
                        background-color: white;
                        border-radius: 20px;
                        text-align: center;
                        box-shadow: 0 10px 21px #e7eeef;
                        @include hover-transition-time();

                        .courseTitle {
                            @include default-font(1.2rem,500,black);
                        }
                        .courseSubtitle{
                            @include default-font(1rem,400,black);
                        }
                        
                    }

                    &:hover {
                        .courseImg {
                            background-size: 110%;
                            @include hover-transition-attributes();
                        }
                        .courseDesc {
                            top:-60px;
                        }
                    }
                }

                
                
            }
        }

        .viewMore {
            @include default-button(#fdc830,#f37335,290px,50px);
            @include default-font(16px);
            @include set-default-postion();
            @include hover-transition-time(.3s);

            &:hover {
                @include hover-transition-attributes(5px,15px,.1,-5px);
                cursor: pointer;
            }
            margin-bottom: 50px;
        }
    }


}


footer {
    height: 400px;
    background-color: #232A38;
    
    .bottomMenu {
        height: 360px;
        padding-top: 40px;

        .socialIconArea {
            margin: 50px 0;
            padding-bottom: 50px;
            border-bottom: 1px solid rgba(186,193,199,.5);
            display:flex;
            justify-content: center;
            

            .socialButtons {
                width: 50%;
                max-width: 300px;
                display:flex;
                align-items: center;
                justify-content: center;
                

                .socialButton {
                    text-align: center;
                    margin:0 20px;


                    a {
                        @include default-a();
                        @include default-font(16px,400,#bac1c7);
                        @include hover-transition-time(.3s);

                        .iconArea {
                            @include aligned-box();
                            width: 100%;
                            height:48px;
                            font-size: 48px;
                            margin-bottom: 5px;
                        }
                        .textArea {
                            display:block;
                        }

                        &:hover {
                            color: white;
                        }
                    }
                    
                    
                }
                
            }
        }

        .contact {

            .container {
                // background-color: #fdc830;
                // 써보려 했으나 간격 조정 못해서 자꾸 밑으로 내려가서 실패. 그냥 display grid가 빠를듯
                // $width: $screen-width;
                // $columns-num: 12;
                // $color: skyblue;
                
                // @for $i from 1 through 12{
                //     .custom-col-#{$i}{
                //         width: columns($i,$columns-num);
                //         background-color: $color;
                //         display: inline-block;
                //     }
                // }

                display:grid;
                justify-content: center;
                grid-template-columns: 1fr 1fr 1fr;

                .contactBox {

                    p {
                        margin:8px 0;
                        @include default-font(16px,400,#bac1c7);

                        a {
                            @include default-a;
                            @include default-font(16px,400,#bac1c7);

                            &:hover {
                                color:white;
                            }
                        }
                    }
                }

                .contactBox:nth-child(2){
                    text-align: center;
                }

                .contactBox:nth-child(3){
                    text-align: right;
                }
            }
        }
    }
}

.messenger{
    position: fixed;
    right: 15px;
    bottom: 15px;
    background-color:#f9fefd;
    width: 62px;
    height: 62px;
    border-radius: 100%;
    box-shadow: 0 10px 30px rgba(50,50,93,0.2);
    @include aligned-box();
    font-size: 40px;
    @include hover-transition-time(.1s);
    
    &:hover {
        cursor:pointer;
        background-color: white;
    }

}