<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div v-for="movie in movieList" :key="movie.id">
          <div>
            <a :href="getTrailerLink(movie.yt_trailer_code)" target="_blank">
              {{ movie.title }}
            </a>
          </div>
          
          <!-- v:on -> @ -->
          <img :src="movie.medium_cover_image" width="40%" @click="fetchDetails(movie.id)" />
  
          <div v-for="genre in movie.genres" :key="genre">
            {{ genre }}
          </div>
  
          <br />
          <br />
          <hr />
        </div>
      </div>

    <script src="src/js/jasMovieVue.js"></script>
</body>
</html>